// change the values, fonts and class names to suit your needs 
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');



$primary-font:'Prompt',
sans-serif;



.para {
    font-family: $primary-font;
    font-weight: 300;
    font-size: 0.8rem;


}

h1,
h2,
h3,
h4,
h5 {
    font-family: $primary-font;
}

.big-heading {
    font-size: 2rem;
}

.med-heading {
    font-size: 1.5rem;
}

.small-heading {
    font-size: 1rem;
}

.bold-text {
    font-weight: 700;
}

.Navbar__links{
    color: $accent-orange;
    font-weight: 400;

 
}

.footer-link{
    color: #efc2b3;
    font-weight: 300;
    font-size: 0.9rem;

    &:hover{
        text-decoration: underline;
    }
}

@media (min-width:760px) {

 
.Navbar__links{
    color: $accent-orange;
    font-weight: 400;

    &:hover{
        border-bottom: 3px solid $secondary-color;
    }
}   

.para {
    font-size: 1.2rem;


}
    .big-heading {
        font-size: 4.5rem;
    }
    
 
    
  
    .bold-text {
        font-weight: 700;
    }
}