@import "../utils/settings";
//styles that belongs to header

.Hero {
    background: url("/assets/asset\ 1.jpeg") no-repeat center;
    height: 600px;

    .Hero__text {
        text-align: center;
        margin-top: 10rem;
        color: $primary-color;



    }

}